// COLORS
$color__primary--black: #1e202b;
$color__secondary--blue: #08aeea;
$color__secondary--green: #2af598;
$color__gradient: linear-gradient(to right, $color__secondary--blue,$color__secondary--green);
$color__white: #fff;
$color__black: #000;


// FONTS-STYLES
$base__font-size: 1.5rem;
$base__line: 1.6;
$base__weight: 400;
$base__font-family:'Source Sans Pro', sans-serif;




